---
import { SEOMetadata } from 'astro-seo-metadata';

import site from '../data/site.json';

import GlobalHeader from '../components/GlobalHeader.astro';
import GlobalFooter from '../components/GlobalFooter.astro';

import '../styles/tc.scss';

const { title, image } = Astro.props;

const shareImage = image !== null ? `https://res.cloudinary.com/stsmith/image/upload/c_thumb,w_1200,h_630,g_auto/v1654612780/${image}` : '';

const pageTitle = Astro.url.pathname == '/' ? site.name : `${title} | ${site.name}`;
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<SEOMetadata
			siteName={site.name}
			title={pageTitle}
			description={site.description}
			image={shareImage}
			favicon={'/images/favicon.png'}
			author={site.author}
			astroSitemap={true}
			canonicalUrl={Astro.url.toString()}
			type={'website'}
			astroGenerator={true}
		/>
		
	</head>

	<body>
		<div id="site">
			<GlobalHeader />
			<main>
				<slot />
			</main>
			<GlobalFooter />
		</div>
	</body>
</html>
