---
import { Cloudinary } from 'astro-cloudinary-image';
import Base from './Base.astro';
import HikeMap from '../components/HikeMap.astro';
import placesData from '../data/places.json';

const { frontmatter } = Astro.props;
const placeTag = placesData[frontmatter.tags];
---
<Base title={frontmatter.title}>
  <article class="post-article">
		<header class="post-header">
			<h1 class="margin-x-0">{ frontmatter.title }</h1>
			<h2 class="margin-x-0">{ frontmatter.excerpt }</h2>
			<p><a href={`/places/${placeTag.slug}`}>{ placeTag.fullname }</a></p>
		</header>

		{ frontmatter.image !== '' &&
			<aside class="post-featured-image">
				<Cloudinary 
					width="1200"
					resize="fit"
					alt={`Photo of ${frontmatter.title}`}
					src={ frontmatter.image }
					errorImage=''
				/>
			</aside>
		}

		<div class="post-content">
			<slot />

			{ frontmatter.coords !== '' &&
				<HikeMap coords={frontmatter.coords} geojson={frontmatter.geojson} />
			}

			

			{ frontmatter.images.length > 0 &&
				<div class="post-image-gallery">
					{ frontmatter.images.map(image => (
		
							<Cloudinary 
								width="1200"
								resize="fit"
								alt={image.alt}
								src={ image.image }
								errorImage=''
							/>
						))

					}
				</div>
			}
		</div>

	</article>
</Base>
